<div class="card"> <img class="card-img-top" src="{{img_src}}" alt="{{img_alt}}">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{text}}</p>
    </div>
</div>