<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <meta name="description" content="{{description}}">
        <link rel="stylesheet" href="/assets/css/site.css">
    </head>
    <body>
        {{> "nav"}}

        {{#block "body"}}{{/block}}

        <script src="/assets/js/site.js"></script>
        {{#block 'scripts'}}{{/block}}
    </body>
</html>