{{#extend 'main' 
    title='Title'
    description='Im the description'
}}

    {{#content 'body'}}

        <div class="container">

            <div class="card-deck">
                {{> "card" 
                    img_src="http://taylorpictures.net/albums/concerts/fearless%20tour/Promotionals/normal_070.jpg"
                    img_alt="Card 1"
                    title="Card 1"
                    text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
                }}
                {{> "card" 
                    img_src="http://taylorpictures.net/albums/concerts/fearless%20tour/Promotionals/normal_071.jpg"
                    img_alt="Card 2"
                    title="Card 2"
                    text="This card has supporting text below as a natural lead-in to additional content."
                }}
                {{> "card" 
                    img_src="http://taylorpictures.net/albums/concerts/fearless%20tour/Promotionals/normal_070.jpg"
                    img_alt="Card 3"
                    title="Card 3"
                    text="This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action."
                }}
            </div>

            <div class="row mt-5 mb-5">
                <form class="col-sm-12">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationServer01">First name</label>
                            <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" value="Mark" required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationServer02">Last name</label>
                            <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" value="Otto" required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationServerUsername">Username</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend3">@</span>
                                </div>
                                <input type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="Username" aria-describedby="inputGroupPrepend3" required>
                                <div class="invalid-feedback">Please choose a username.</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    {{/content}}

{{/extend}}